.floor{
	width: 80%;
	height: 80%;
	border-radius: 1%;
	background-color: white;
	color: gray;
	padding: .5rem;
	border: solid #CCC 1px;
	position: absolute;
}
.level-1{
	margin: 3%;
	z-index: 10;
}
.level-105{
	margin: 6%;
	z-index: 2;
}
.level-2{
	margin: 9%;
	z-index: 3;
}
.level-3{
	margin: 12%;
	z-index: 4;
}
